
    <div class="container">

		<div class="profile">

			<div class="profile-image">
  {{#if profile.picture}}
  <img
      id="profile-img"
      src="{{profile.picture}}"
      alt="{{profile.name}}"
    />
  
<script
      src="https://kit.fontawesome.com/64feb954eb.js"
      crossorigin="anonymous"
    ></script>
     <a href="/profile/edit"><button id="edit" <i class="far fa-edit"></i></button>
   </a>
      </div>
  {{/if}}
<div class="profile-user-settings">
  <h2 filter-content="S" id="profile-user-name">{{profile.name}}</h2>
</div>
  

  
<div id="profile-stats">
  <ul>
   <li id="scores">{{sum}}</li>
   </ul>
   </div> 
</div>
</div>

{{#each cards}}
      <div class="cardPublication">
        {{#if media}}
          <div>
            <img src="{{media}}" alt="image" />
          </div>
        {{/if}}
        {{#if title}}
          <div>
            <h5>{{title}}</h5>
          </div>
        {{/if}}
        {{#if text}}
          <div>
            <p class="card-description">flweqflwqhfkhwfhlwefhqlfhewhkejfwqef v
              werwerwer werwerwerrwe rwewrgtwfewfwefwehfwfkhwefhefwhefwehf
              ewfwefwefwefwefwefwefwefwefwefhqlfhewhkejfwqef v werwerwer
              werwerwerrwe rwewrgtwfewfwefwehfwfkhwefhefwhefwehf
              ewfwefwefwefwefwefwefwefwefwefhqlfhewhkejfwqef v werwerwer
              werwerwerrwe rwewrgtwfewfwefwehfwfkhwefhefwhefwehf
              ewfwefwefwefwefwefwefwefwef
            </p>
          </div>
        {{/if}}
        <div class="feedback-container">
          <span>{{creator.name}}</span>
          <p>
            <img src="/images/leaderboard/greyLikeIcon.png" alt="" />
            {{likeCount}}</p>
          <p>
            <img
              id="last-img"
              src="/images/leaderboard/greyCommentIcon.png"
              alt=""
            />{{comments.length}}</p>
        </div>
      </div>
      
      <form method="POST" action="/card/{{_id}}/delete">
       <button id="button-delete" <i class="fa-solid fa-trash-can"></i></button>
      </form>


    {{/each}}
 


</div>
</div>
  