
    <div class="container">

		<div class="profile">

			<div class="profile-image">
  {{#if profile.picture}}
  <img
      id="profile-img"
      src="{{profile.picture}}"
      alt="{{profile.name}}"
    />
  
<script
      src="https://kit.fontawesome.com/64feb954eb.js"
      crossorigin="anonymous"
    ></script>
     <a href="/profile/edit"><button id="edit" <i class="far fa-edit"></i></button>
   </a>
      </div>
  {{/if}}
<div class="profile-user-settings">
  <h2 filter-content="S" id="profile-user-name">{{profile.name}}</h2>
</div>
  

  
<div id="profile-stats">
  <ul>
   <li id="scores">{{sum}}</li>
   </ul>
   </div> 
</div>
</div>
</div>
  
<div class="cardList">
  {{#each cards}}
        <div class="item">
      <a href="/card/{{this._id}}">
        <div class="cardPublication">
    <div class="cardMedia">
      {{#if this.media}}
        <img src="{{this.media}}" alt="{{this.title}}" />
      {{/if}}
    </div>
    {{#if this.media}}
      <div class="cardBodyFull">
        <h5>{{this.title}}</h5>
        <p>{{this.text}}</p>
      </div>
    {{else}}
      <div class="cardBodyTitleDesc">
        <h5>{{this.title}}</h5>
        <p>{{this.text}}</p>
      </div>
    {{/if}}
    <div class="cardInfo">
      <div>
        <img src="/images/home/greyLikeIcon.png" alt="Grey Like Icon" />
        <p>{{this.likeCount}}</p>
      </div>
      <div>
        <img src="/images/home/greyCommentIcon.png" alt="Grey Like Icon" />
        <p>{{this.comments.length}}</p>
      </div>
    </div>

    <form method="POST" action="/card/{{this._id}}/delete">
        <button>Delete publication</button>
      </form>
  </div>
      </a>
      </div>
    {{/each}}
 
</div>


</div>
</div>
  