<div class="container">

		<div class="profile">

			<div class="profile-image">
  {{#if profile.picture}}
  <img
      id="profile-img"
      src="{{profile.picture}}"
      alt="{{profile.name}}"
    />
      </div>
  {{/if}}
<div class="profile-user-settings">
  <h2 id="profile-user-name">{{profile.name}}</h2>

   <a href="/profile/edit"><button class="btn profile-edit-btn"><span >Edit profile</span></button>
   </a>


<div class="profile-stats">

<p>{{sum}} scores</p>

</div>
</div>
    </div>
</div>

  {{#if userProfile}}

    {{#each cards}}
      {{#if media}}
        <img src="{{media}}" alt="" />
      {{/if}}

            <p>{{title}}</p>


      <p>{{text}}</p>

   
      <h5>Comments:</h5>
      {{#each comments}}
        <div>
          <b>{{this.user.name}}</b>
          <p>{{this.text}}</p>
        </div>
      {{/each}}
    


      <form method="POST" action="/card/{{_id}}/delete">
        <button>Delete publication</button>
      </form>

    {{/each}}

    
 
  {{/if}}

</div>