Notification count:
{{notificationCount}}
{{#each notifications}}
  <p><a href="/profile/{{this.user._id}}">{{this.user.name}}</a>
    {{#if comment}}commented{{else}}liked{{/if}}
    your
    <a href="/meow/{{this.publication._id}}">post</a></p>
{{/each}}

{{#if card}}
  <div>
    {{#if card.media}} <img src="{{card.media}}" alt="{{card.title}}" /> {{/if}}
    {{card.title}}
    {{card.text}}
    <a href="/profile/{{card.creator._id}}">{{card.creator.name}}</a>

    <form action="/card/{{card._id}}/like" method="POST">
      <button>Like</button>
    </form>

    <form action="/card/{{card._id}}/dislike" method="POST">
      <button>Disike</button>
    </form>

    <form action="/card/{{card._id}}/ignore" method="POST">
      <button>Ignore</button>
    </form>

    <form action="/card/{{card._id}}/comment" method="POST">
      <label for="input-comment"></label>
      <input type="text" name="commentText" id="input-comment" />
      <button>Comment</button>
    </form>

  </div>
{{else}}
  <h3>You have seen all the available cards!</h3>
{{/if}}