<html lang="en">
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/styles/style.css" />
    {{#each pageStyles}}
      <link rel="stylesheet" href={{style}} />
    {{/each}}
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      {{#if user}}
        <a href="/card/create">New Post</a>
        <a href="/profile/{{user._id}}">{{user.name}}'s Profile</a>
        <form action="/auth/sign-out" method="POST">
          <button>Sign Out</button>
        </form>
      {{else}}
        <a href="/auth/sign-in">Sign In</a>
        <a href="/auth/sign-up">Sign Up</a>
      {{/if}}
    </nav>

    {{{body}}}
    {{#if error.message}}
      <div class="error-container">
        <p>{{error.message}}</p>
      </div>
    {{/if}}
  </body>
</html>