<div class="leaderboard-container one">
  <div class="profile">
    <div class="person second">
      {{#if user2.picture}}
      <img src="{{user2.picture}}" alt="photo" class="photo-second" />
      {{else}}
      <img src="https://cdn.landesa.org/wp-content/uploads/default-user-image.png" alt="photo" class="photo-second" />
      {{/if}}
      <p class="linkLeaderBoard">{{user2.name}}</p>
      <p class="points">#2 - {{user2.score}} score</p>
    </div>
    <div class="person first">
      <div class="parent-first-place">
      {{#if user1.picture}}
        <img src="{{user1.picture}}" alt="" class="photo-first" />
      {{else}}
      <img src="https://cdn.landesa.org/wp-content/uploads/default-user-image.png" alt="photo" class="photo-second" />
      {{/if}}
        <img
          id="crown-image"
          src="/images/leaderboard/icons8-crown-48.png"
          alt=""
        />
      </div>
      <p class="linkLeaderBoard">{{user1.name}}</p>
      {{! <p class="linkLeaderBoard">MantllaBigfoot</p> }}
      <p class="points">#1 - {{user1.score}} score</p>
    </div>
    <div class="person third">
      {{#if user3.picture}}
      <img src="{{user3.picture}}" alt="" class="photo-third" />
       {{else}}
      <img src="https://cdn.landesa.org/wp-content/uploads/default-user-image.png" alt="photo" class="photo-second" />
      {{/if}}
      <p class="linkLeaderBoard">{{user3.name}}</p>
      <p class="points">#3 - {{user3.score}} score</p>
    </div>
  </div>
</div>

<div class="leaderboard-card-container">
  <section class="leaderboard-cards">
    <div class="first-card-container">
x
        <img
          id="crown-card"
          src="/images/leaderboard/icons8-crown-48.png"
          alt=""
        />
         <div class="first-card-publication">
        {{#if cardFirst.media}}
          <div>
            <img src="{{cardFirst.media}}" alt="image" />
          </div>
        {{/if}}
        {{#if cardFirst.title}}
          <div>
            <h5>{{cardFirst.title}}</h5>
          </div>
        {{/if}}
        {{#if text}}
          <div>
            <p class="card-description">{{cardFirst.text}} </p>
          </div>
        {{/if}}
        <div class="feedback-container">
          <span>{{cardFirst.creator.name}}</span>
          <p>
            <img src="/images/leaderboard/greyLikeIcon.png" alt="" />
            {{cardFirst.likeCount}}</p>
          <p>
            <img
              id="last-img"
              src="/images/leaderboard/greyCommentIcon.png"
              alt=""
            />{{cardFirst.comments.length}}</p>
        </div>
      </div>
    </div>
         
    {{#each restCards}}
      <div class="cardPublication">
        {{#if media}}
          <div>
            <img src="{{media}}" alt="image" />
          </div>
        {{/if}}
        {{#if title}}
          <div>
            <h5>{{title}}</h5>
          </div>
        {{/if}}
        {{#if text}}
          <div>
            <p class="card-description">{{text}} </p>
          </div>
        {{/if}}
        <div class="feedback-container">
          <span>{{creator.name}}</span>
          <p>
            <img src="/images/leaderboard/greyLikeIcon.png" alt="" />
            {{likeCount}}</p>
          <p>
            <img
              id="last-img"
              src="/images/leaderboard/greyCommentIcon.png"
              alt=""
            />{{comments.length}}</p>
        </div>
      </div>
    {{/each}}
  </section>
</div>