<div class="leaderboard-container one">
  <div class="profile">
    <div class="person second">
      {{#if user2.picture}}
        <img src="{{user2.picture}}" alt="photo" class="photo-second" />
      {{else}}
        <img
          src="https://cdn.landesa.org/wp-content/uploads/default-user-image.png"
          alt="photo"
          class="photo-second"
        />
      {{/if}}
      <p class="linkLeaderBoard">{{user2.name}}</p>
      <p class="points">#2 - {{user2.score}} score</p>
    </div>
    <div class="person first">
      <div class="parent-first-place">
        {{#if user1.picture}}
          <img src="{{user1.picture}}" alt="" class="photo-first" />
        {{else}}
          <img
            src="https://cdn.landesa.org/wp-content/uploads/default-user-image.png"
            alt="photo"
            class="photo-second"
          />
        {{/if}}
        <img
          id="crown-image"
          src="/images/leaderboard/icons8-crown-48.png"
          alt=""
        />
      </div>
      <p class="linkLeaderBoard">{{user1.name}}</p>
      {{! <p class="linkLeaderBoard">MantllaBigfoot</p> }}
      <p class="points">#1 - {{user1.score}} score</p>
    </div>
    <div class="person third">
      {{#if user3.picture}}
        <img src="{{user3.picture}}" alt="" class="photo-third" />
      {{else}}
        <img
          src="https://cdn.landesa.org/wp-content/uploads/default-user-image.png"
          alt="photo"
          class="photo-second"
        />
      {{/if}}
      <p class="linkLeaderBoard">{{user3.name}}</p>
      <p class="points">#3 - {{user3.score}} score</p>
    </div>
  </div>
</div>

<div class="cardList">
  <div class="item">
    <div class="firstCard">
      <div class="cardPublication">
        <img
          id="crown-card"
          src="/images/leaderboard/icons8-crown-48.png"
          alt=""
        />
        <div class="cardMedia">
          {{#if cardFirst.media}}
            <img src="{{cardFirst.media}}" alt="{{cardFirst.title}}" />
          {{/if}}
        </div>
        {{#if cardFirst.media}}
          <div class="cardBodyFull">
            <h5>{{cardFirst.title}}</h5>
            <p>{{cardFirst.text}}</p>
          </div>
        {{else}}
          <div class="cardBodyTitleDesc">
            <h5>{{cardFirst.title}}</h5>
            <p>{{cardFirst.text}}</p>
          </div>
        {{/if}}
        <div class="cardInfo">
          <div>
            <img src="/images/home/greyLikeIcon.png" alt="Grey Like Icon" />
            <p>{{cardFirst.likeCount}}</p>
          </div>
          <div>
            <img src="/images/home/greyCommentIcon.png" alt="Grey Like Icon" />
            <p>{{cardFirst.comments.length}}</p>
          </div>
        </div>
        <div class="creatorName">
          <a
            href="/profile/{{cardFirst.creator._id}}"
          >{{cardFirst.creator.name}}</a>
        </div>
      </div>
    </div>
  </div>

  {{#each restCards}}
    <div class="item">
      <div class="cardPublication">
        <div class="cardMedia">
          {{#if this.media}}
            <img src="{{this.media}}" alt="{{this.title}}" />
          {{/if}}
        </div>
        {{#if this.media}}
          <div class="cardBodyFull">
            <h5>{{this.title}}</h5>
            <p>{{this.text}}</p>
          </div>
        {{else}}
          <div class="cardBodyTitleDesc">
            <h5>{{this.title}}</h5>
            <p>{{this.text}}</p>
          </div>
        {{/if}}
        <div class="cardInfo">
          <div>
            <img src="/images/home/greyLikeIcon.png" alt="Grey Like Icon" />
            <p>{{this.likeCount}}</p>
          </div>
          <div>
            <img src="/images/home/greyCommentIcon.png" alt="Grey Like Icon" />
            <p>{{this.comments.length}}</p>
          </div>
        </div>
        <div class="creatorName">
          <a href="/profile/{{this.creator._id}}">{{this.creator.name}}</a>
        </div>
      </div>
    </div>
  {{/each}}
</div>