<div class="leaderboard-container one">
  <div class="profile">
    <div class="person second">
      <img src="{{user2.picture}}" alt="photo" class="photo-second" />
      <p class="linkLeaderBoard">{{user2.name}}</p>
      <p class="points">#2 - {{user2.score}} score</p>
    </div>
    <div class="person first">
      <div class="parent-first-place">
        <img src="{{user1.picture}}" alt="" class="photo-first" />

        <img
          id="crown-image"
          src="/images/leaderboard/icons8-crown-48.png"
          alt=""
        />
      </div>
      <p class="linkLeaderBoard">{{user1.name}}</p>
      {{! <p class="linkLeaderBoard">MantllaBigfoot</p> }}
      <p class="points">#1 - {{user1.score}} score</p>
    </div>
    <div class="person third">
      <img src="{{user3.picture}}" alt="" class="photo-third" />
      <p class="linkLeaderBoard">{{user3.name}}</p>
      <p class="points">#3 - {{user3.score}} score</p>
    </div>
  </div>
</div>

<div class="leaderboard-card-container">
  <section class="leaderboard-cards">
    {{#each cards}}
      <div class="cardPublication">
        {{#if media}}
          <div>
            <img src="{{media}}" alt="image" />
          </div>
        {{/if}}
        {{#if title}}
          <div>
            <h5>{{title}}</h5>
          </div>
        {{/if}}
        {{#if text}}
          <div>
            <p class="card-description">flweqflwqhfkhwfhlwefhqlfhewhkejfwqef v
              werwerwer werwerwerrwe rwewrgtwfewfwefwehfwfkhwefhefwhefwehf
              ewfwefwefwefwefwefwefwefwefwefhqlfhewhkejfwqef v werwerwer
              werwerwerrwe rwewrgtwfewfwefwehfwfkhwefhefwhefwehf
              ewfwefwefwefwefwefwefwefwefwefhqlfhewhkejfwqef v werwerwer
              werwerwerrwe rwewrgtwfewfwefwehfwfkhwefhefwhefwehf
              ewfwefwefwefwefwefwefwefwef
            </p>
          </div>
        {{/if}}
        <div class="feedback-container">
          <span>{{creator.name}}</span>
          <p>
            <img src="/images/leaderboard/greyLikeIcon.png" alt="" />
            {{likeCount}}</p>
          <p>
            <img
              id="last-img"
              src="/images/leaderboard/greyCommentIcon.png"
              alt=""
            />{{comments.length}}</p>
        </div>
      </div>
    {{/each}}
  </section>
</div>