<div class="leaderboard-container one">
  <div class="profile">
    <div class="person second">
      <i class="fas fa-caret-up"></i>
      <img src="{{user2.picture}}" alt="photo" class="photo-second" />
      <p class="link">{{user2.name}}</p>
      <p class="points">#2 - {{user2.score}} score</p>
    </div>
    <div class="person first">
      <i class="fas fa-crown"></i>
      <img src="{{user1.picture}}" alt="" class="photo-first" />
      <p class="link">{{user1.name}}</p>
      <p class="points">#1 - {{user1.score}} score</p>
    </div>
    <div class="person third">
      <i class="fas fa-caret-up"></i>
      <img src="{{user3.picture}}" alt="" class="photo-third" />
      <p class="link">{{user3.name}}</p>
      <p class="points">#3 - {{user3.score}} score</p>
    </div>
  </div>
</div>